<% if @current_user.email == "test@gmail.com" %>
    <h4>管理者用画面</h4>
<% end %>
<% content_for :cover do %>
    <header>
        <nav class="navbar navbar-default navbar-static-top", style="background-color:skyblue; height:70px; margin-bottom:0px;">
        	<div class="container">
        		<div class="navbar-header">
        			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarEexample">
        				<span class="sr-only">Toggle navigation</span>
        				<span class="icon-bar"></span>
        				<span class="icon-bar"></span>
        				<span class="icon-bar"></span>
        			</button>
        			<h1 class="selecting_status" style="color:white; margin:0px 10px; padding:10px; font-size:20px;">
        			    <%= @story.title %>
        			    <br>
        			    <% if @status == "unclear"%>
        			         第<%= @story.number %>話: 未回答のみ
        			    <% elsif @status == "correct" %>
        			         第<%= @story.number %>話: <i class="far fa-circle"></i>のみ
        			    <% elsif @status == "incorrect"%>
        			         第<%= @story.number %>話: <i class="fas fa-times"></i>のみ
        			    <% elsif @status == "favorite" %>
        			         第<%= @story.number %>話: <i class="fas fa-star"></i>のみ
        			    <% elsif @status == "all" %>
        			         第<%= @story.number %>話: 全て
        			     <% end %>
        			</h1>
        		</div>
        		<div class="collapse navbar-collapse" id="navbarEexample" style="text-align:right; background-color:skyblue;">
        			<ul class="nav navbar-nav navbar-right">
        				<li><%= link_to 'ログアウト',destroy_user_session_path, method: :delete %></li>
        				<li><%= link_to 'ホームに戻る', home_index_path %></li>
        			</ul>
        		</div>
        	</div>
        </nav>
        <nav class="sub_nav">
           <p class="inline" style="margin-left:20px;">未 <%= select_question_whose_status_is_("unclear",@story.id).count %></p>
           <p class="inline"><i class="far fa-circle" style="color:red;"></i> <%= select_question_whose_status_is_("correct",@story.id).count %></p>
           <p class="inline"><i class="fas fa-times" style="color:blue;"></i> <%= select_question_whose_status_is_("incorrect",@story.id).count %></p>
        </nav>
    </header>
<% end %>

<table>
    <% if @current_user.email == "test@gmail.com" %>
        <%= render 'layouts/question_show_for_owner',questions: @questions %>
    <% else %>
        <%= render 'layouts/question_show',questions: @questions %>
    <% end %>
</table>
<% if @questions.count > 50 %>
    <%= paginate @questions %>
<% end %>