<% content_for :cover do %>
<header>
      <nav style="background-color:skyblue; height:50px;">
        <h1 style="color:white; margin:0px 10px; padding:10px; font-size:30px;">単語帳アプリ</h1>
      </nav>
    </header>
<% end %>
<div class="col-md-5" style="test-align:center;" >
  <h2 style="border-bottom: 1px solid black; font-size:30px;">パスワード変更</h2>
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <%= f.hidden_field :reset_password_token %>
    
    <div class="form-group">
      <%= f.label :password, "新たなパスワード" %><br />
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> 文字以上)</em><br />
      <% end %>
      <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: 'form-control' %>
    </div>
    <br>
    <div class="form-group">
      <%= f.label :password_confirmation, "パスワード確認" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off",class: 'form-control' %>
    </div>
  
    <div class="actions">
      <%= f.submit "パスワードを変更する" %>
    </div>
  <% end %>
</div>
