<div class="modal fade" id="modal-sample<%= id %>" tabindex="-1">
  <div class="modal-dialog modal-lg">
    
    <!-- 3.モーダルのコンテンツ -->
    <div class="modal-content" style="background-color:skyblue;">
        <h4 style="color:white; text-align:center;">一覧表示へ</h4>
        <%= link_to(quizlist_index_path(story_id: id, selecting_status: "unclear")) do %><button class="btn btn-default col-xs-8 col-xs-offset-2">未回答のみ <%= select_question_whose_status_is_("unclear",id).count %> </button><% end %>
        <%= link_to(quizlist_index_path(story_id: id, selecting_status: "correct")) do %><button class="btn btn-default col-xs-8 col-xs-offset-2"><i class="far fa-circle"></i>のみ <%= select_question_whose_status_is_("correct",id).count %></button><% end %>
        <%= link_to(quizlist_index_path(story_id: id, selecting_status: "incorrect")) do %><button class="btn btn-default col-xs-8 col-xs-offset-2"><i class="fas fa-times"></i>のみ <%= select_question_whose_status_is_("incorrect",id).count %></button><% end %>
        <%= link_to(quizlist_index_path(story_id: id, selecting_status: "favorite")) do %><button class="btn btn-default col-xs-8 col-xs-offset-2"><i class="fas fa-star"></i>のみ <%= select_question_whose_status_is_("favorite",id).count %></button><% end %>
        <%= link_to(quizlist_index_path(story_id: id, selecting_status:   "all")) do %><button class="btn btn-default col-xs-8 col-xs-offset-2">全て <%= select_question_whose_status_is_("all",id).count %></button><% end %>
      <!-- 6.モーダルのフッタ -->
      <div class="modal-footer">
          <button type="button" class="close btn btn-default" data-dismiss="modal">閉じる</button>
      </div>
    </div>
  </div>
</div>


